html {
    background-image: url("images/blue-sky.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    cursor: url("光标-15.png"), auto;
}
a {
    color:#ff45ff;
    border: none;
}
p {
    position: absolute;
    font-family: 'Source Han Sans CN',helvetica, sans-serif;
    font-weight: normal;
    color:#ff45ff;
    font-size: 18pt;
    left: 3%;
    right: 3%;
    z-index: 1;
    top:-3px ;
} 
#grad1 {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
	/* background-color: red;  */
    background-image: linear-gradient(#86fff9, rgba(255, 255, 255, 0.247),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.247), #86ff7f); 
    z-index: -1;
}

h1 {
    position: absolute;
    color: white;
    font-family: 'Source Han Sans CN',helvetica, sans-serif;
    font-weight: medium;
    font-size: 42pt;
    top: 8%;
    left: 37%;
    z-index: 2;
}
#egg1 {
    position: absolute;
    z-index: 2;
    left:6.5%;
    top: 42.5%;
}
#egg2 {
    position: absolute;
    z-index: 2;
    left:20.5%;
    top: 43.5%;
}
#egg3 {
    position: absolute;
    z-index: 2;
    left:34.7%;
    top: 44%;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
#egg4 {
    
    position: absolute;
    z-index: 2;
    left:49%;
    top: 44.5%;
    overflow-clip-margin: content-box;
    overflow: clip;
}
#egg5 {
    position: absolute;
    z-index: 3;
    left:63.2%;
    top: 43%;
}
#egg6 {
    position: absolute;
    z-index: 2;
    left:77.3%;
    top: 44%;
}
#egg7 {
    position: absolute;
    z-index: 3;
    left:5.3%;
    top: 56%;
}
#egg8 {
    position: absolute;
    z-index: 3;
    left:19.5%;
    top: 56%;
}
#egg9 {
    position: absolute;
    z-index: 3;
    left:34%;
    top: 57%;
}
#egg10 {
    position: absolute;
    z-index: 3;
    left:49%;
    top: 58%;
}
#egg11 {
    position: absolute;
    z-index: 3;
    left:63%;
    top: 55.5%;
}
#egg12 {
    position: absolute;
    z-index: 3;
    left:77.5%;
    top: 57.5%;
}
#mid {
    position: absolute;
    height: 100%;
    width: 85%;
    top: 10%;
    left: 8.5%;
    z-index: 1;

}
#eggbox {
    height: 81%;
   width: 90%;
  
     /* bottom: 14%; */
    /* /* top:10%; */
    left: 3.5%; 
    position: absolute;
    top: 6%;
    z-index: 1;
}