html {
    background-image: url("images/blue-sky.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    cursor: url("光标-15.png"), auto;
}

p {
    position: absolute;
    font-family: 思源黑体 CN;
    font-weight: normal;
    color:#ff45ff;
    font-size: 18pt;
    left: 3%;
    right: 3%;
    z-index: 1;
    top:-3px ;
} 
#grad1 {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
	/* background-color: red;  */
    background-image: linear-gradient(#86fff9, rgba(255, 255, 255, 0.247),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.247), #86ff7f); 
    z-index: -1;
}
#eggbox {
    top :10% ;
    left: 8.5%;
    position: absolute;
    z-index: 1;
}
h1 {
    position: absolute;
    color: white;
    font-family: 思源黑体 CN;
    font-weight: medium;
    font-size: 42pt;
    top: 18%;
    left: 38%;
    z-index: 2;
}
#egg1 {
    position: absolute;
    z-index: 2;
    left:10%;
    top: 42%;
}