html {
    background-image: url("images/blue-sky.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    cursor: url("光标-15.png"), auto;
}
a {
    color:#ff45ff;
    border: none;
}
p {
    position: absolute;
    font-family: 思源黑体 CN;
    font-weight: normal;
    color:#ff45ff;
    font-size: 18pt;
    left: 3%;
    right: 3%;
    z-index: 1;
    top:-3px ;
} 
#grad1 {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
	/* background-color: red;  */
    background-image: linear-gradient(#86fff9, rgba(255, 255, 255, 0.247),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.247), #86ff7f); 
    z-index: -1;
}
#eggbox {
    width: 85%;
    top :10% ;
    left: 8.5%;
    position: absolute;
    z-index: 1;
}
h1 {
    position: absolute;
    color: white;
    font-family: 思源黑体 CN;
    font-weight: medium;
    font-size: 42pt;
    top: 18%;
    left: 38%;
    z-index: 2;
}
#egg1 {
    position: absolute;
    z-index: 2;
    left:10.5%;
    top: 50%;
}
#egg2 {
    position: absolute;
    z-index: 2;
    left:22%;
    top: 50%;
}
#egg3 {
    position: absolute;
    z-index: 2;
    left:34%;
    top: 50%;
}
#egg4 {
    position: absolute;
    z-index: 2;
    left:46.5%;
    top: 50%;
}
#egg5 {
    position: absolute;
    z-index: 2;
    left:59%;
    top: 50%;
}
#egg6 {
    position: absolute;
    z-index: 2;
    left:73.5%;
    top: 50.5%;
}
#egg7 {
    position: absolute;
    z-index: 3;
    left:12.8%;
    top: 66%;
}
#egg8 {
    position: absolute;
    z-index: 3;
    left:25%;
    top: 66%;
}
#egg9 {
    position: absolute;
    z-index: 3;
    left:38%;
    top: 68%;
}
#egg10 {
    position: absolute;
    z-index: 3;
    left:50.5%;
    top: 68%;
}
#egg11 {
    position: absolute;
    z-index: 3;
    left:63%;
    top: 65.5%;
}
#egg12 {
    position: absolute;
    z-index: 3;
    left:75.5%;
    top: 67.5%;
}