html {
    background-image: url("images/blue-sky.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    cursor: url("光标-15.png"), auto;
}
a {
    color:#ff45ff;
    /* color: white; */
    border: none;
}
p {
    position: absolute;
    font-family: 思源黑体 CN;
    font-weight: normal;
    /* color:#ff45ff; */
    color: white;
    font-size: 18pt;
    left: 3%;
    right: 3%;
    z-index: 1;
    top:-3px ;
} 
#egg {
    position: absolute;
    width: 18%;
    top: 10%;
}
#kkk {
    position: absolute;
    width: 20%;
    left: 3%;
    top: 45%;
}
#bbb {
    position: absolute;
    width: 20%;
    left: 3%;
    top: 60%;
}
#chicken {
    position: absolute;
    width: 55%;
    left: 23%;
    top: 0%;
}