html {
    /* background-image: url("images/05.jpg"); */
    background-size: cover;
    width: 100%;
    height: 100%;
    cursor: url("shubiao-33.png"), auto;
    /* cursor: url("光标-15.png"), auto; */
}
a {
    color:#001bdc;
    border: none;
}
#tou {
    position: absolute;
    font-family: 思源黑体 CN;
    font-weight: normal;
    /* color:#ff45ff; */
    color:#001bdc;
    font-size: 18pt;
    left: 3%;
    right: 3%;
    z-index: 1;
    top:-3px ;
} 
#grad1 {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
	/* background-color: red;  */
    background-image: linear-gradient(#ff2ab493, rgba(255, 255, 255, 0.247),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.247), #85ff7f9e); 
    z-index: -1;
}
#grass {
    position: absolute;
    z-index: 0;
    width: 100%;
    bottom: 0px;
}
#a {
    /* position:absolute ; */
    left: 40%;
    width: 500px;
    top: 15%;
}
#b {
    /* position:absolute ; */
    left: 40%;
    width: 500px;
    top: 60%;
}
#c {
    width: 500px;
}
#d {
    width: 500px;
}
#e {
    width: 500px;
}

h1{
    color:#001bdc;
    font-size: 18pt;
    font-family: 思源黑体 CN;
    z-index: 1;
    width: 300px;
}
#da1{
    position: absolute;
    top: 13%;
    left:  15%;
    font-weight: mediums;
}
#da2{
    position: absolute;
    top: 22%;
    left:  15%;
    font-weight: medium;
}
#da3{
    position: absolute;
    top: 35%;
    left:  15%;
    font-weight: medium;
}
h2{
    color:#001bdc;
    font-size: 18pt;
    font-family: 思源黑体 CN;
    z-index: 1;
    width: 300px;
}
#name {
    position: absolute;
    top: 12.5%;
    left:  3%;
    font-weight: normal;
}
#medium{
    position: absolute;
    top: 21.5%;
    left: 3%;
    font-weight: normal;
}
#year{
    position: absolute;
    top: 34.5%;
    left: 3%;
    font-weight: normal;
}

  #you {
    position: absolute;
    font-family: 思源黑体 CN;
    font-weight: normal;
    /* color:#ff45ff; */
    color:#001bdc;
    font-size: 12pt;
    width: 20%;
    top: 13%;
    right: 3%;
    z-index: 1;
}
  p#you{
    font-family: 思源黑体 CN;
    color:#001bdc;
    font-size: 12pt;
    font-weight: normal;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    width: 20%;
    height: 80%;
    overflow: auto;
}
p::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
  }
  div.scroll-container {
    /* background-color: #333; */
    overflow-y:auto;
    overflow-x: hidden;
    white-space: nowrap;
    height: 80%;
    padding: 10px;
    width: 500px;
    left: 37%;
    top: -13%;
    position: absolute;
  }
  
  div.scroll-container img {
    padding: 10px;
  }